@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <a asp-controller="Home" asp-action="Stuff" class="btn btn-outline-info btn-sm">Stuff Tab</a>
        <a asp-controller="Home" asp-action="Departments" class="btn btn-outline-info btn-sm">Departments Tab</a>
    </div>
